
@keyframes animacao-caixa {
    /* estado inicial */
        from {
            background: green;
            border-radius: 0px;
            top: 0;
            left: 0;
        }
    
        /* estado finial */
        to {
           background: purple;
           border-radius: 300px;
           top: 200px;
           left: 400px;
        }
}


#caixa {
    width: 300px;
    height: 300px;
    position: relative;
    background: green;
    animation-name: animacao-caixa;
    animation-duration: 3s;
    animation-iteration-count: 2 ;
    animation-direction: alternate;
}